#info{
position: relative; 
color: blanchedalmond;
font-size: 2em;
background-color: grey;
width: 900px;
font-family: 'Libre Barcode 39 Text', cursive;
}
#photo{
	position: absolute;
	left: 69%;
	margin: 5px;
	top: 0%;
	height: 165px;
	width: 165px;
	border : 5px solid silver;
}
h1{
	text-transform: uppercase;
}
p{
color: burlywood;
font-family: 'Special Elite', cursive;
font-size: 15px;
}	
section{
width: 850px;}